@{
    ViewBag.Title = "Home Page";
}

<h1>Instagram Pics</h1>

<div>
    <button id="subscribe" class="btn btn-default">Subscribe</button>
</div>

@section Scripts {
    <script>
        $("#subscribe").click(function (e) {
            e.preventDefault()

            $.ajax({
                type: 'post',
                url: '/api/instagram/subscribe'
            }).done(console.log)
        })
    </script>
}