@{
    ViewBag.Title = "Home Page";
}

<h1>Instagram Pics</h1>

<form action="/" method="post" class="form-horizontal">
    
    <div class="form-group">
        <input type="text" id="tags" name="tags" class="form-control" placeholder="Enter some tags" />
    </div>

    <button type="submit" class="btn btn-default">Subscribe</button>
</form>

<h2>Images</h2>

<div id="images"></div>

<script id="imageTemplate" type="text/template">

    <div>
        <img src="{{imageUri}}" />
        <p><strong>{{user}}</strong>: {{caption}}</p>
    </div>

</script>

@section Scripts {
    <script>
        $("form").submit(function (e) {
           
            e.preventDefault()

            $.ajax({
                type: 'post',
                url: '/api/instagram/subscribe',
                data: JSON.stringify({ tags: $("#tags").val() }),
                contentType: 'application/json'
            }).done(function(result) {
                console.log(result);
                $('#tags').val('');
            })
        })



    </script>
}